doctype html
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Welcome to Puzzle App!")
    title= `${title}`
    link(href="/dist/app.css" rel="stylesheet")
  body
    #puzzle-app-root

    script(src="/dist/runtime.js")
    script(src="/dist/vendor.js")
    script(src="/dist/app.js")
