$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1024px;
$desktop-min-width: 1025px;

$breakpoints: (
    tablet: $tablet-min-width,
    desktop: $desktop-min-width
);

@mixin mobile-only {
    @media (max-width: $mobile-max-width) {
        @content;
    }
}

@mixin tablet-only {
    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet-min-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-min-width) {
        @content;
    }
}
